<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
</head>

    <div style="text-align: center;">
        <a href="/auth/google" class="btn blue darken-1" style="margin:10px; font-size: 15px; border-radius: 5px;">
            <i class="fab fa-google left" style=""></i> 
            Log In With Google
        </a>
    </div>

</body>

</html>